<div class="card mt-2" #cardEl>
  <div class="card-body text-center">
    <div class="card-title">
      <span class="badge rounded-pill bg-secondary">Civic</span>
    </div>
    <div class="card-text mt-1 fw-light">
      [view]
      <!-- <div class="row">
        <div class="col">
          <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item list-group-item-warning fw-bold">Colors</li>
            <li class="list-group-item" *ngFor="let vehicleColor of vehicleColors">
              {{ vehicleColor }}
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
