<div class="card mt-3" #cardEl>
  <div class="card-body">
    <div class="card-title text-center">
      <div class="h6 m-0 my-1">
        <span class="badge bg-secondary bg-gradient rounded-pill">Nissan Sedan</span>
      </div>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col">
          <app-altima></app-altima>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-maxima></app-maxima>
        </div>
      </div>
    </div>
  </div>
</div>
